@import "vars";
.sell {
  padding: 0 0 186px;
  background-image: url(/img/sell-decore.jpg);
  background-repeat: no-repeat;
  background-position: 1195px 56%;

  &__title {
    margin: 0;
    padding: 0 0 8px;
    font-family: $main-font-family;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    text-align: center;
  }
  &__second-title {
    margin: 0;
    padding: 0 0 60px;
    font-family: $title-font-family;
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 64px;
    text-align: center;
    text-transform: capitalize;
    color: #14183e;
  }
  &__list {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
  }
  &__item {
    padding: 322px 0 0;
    width: 315px;
    min-height: 457px;
    list-style: none;
    background-image: url(/img/sell-bg.jpg);
    background-repeat: no-repeat;
    background-position: center top;
    background-size: auto;
    filter: drop-shadow(0px 100px 80px rgba(0, 0, 0, 0.02))
      drop-shadow(0px 64.8148px 46.8519px rgba(0, 0, 0, 0.0151852))
      drop-shadow(0px 38.5185px 25.4815px rgba(0, 0, 0, 0.0121481))
      drop-shadow(0px 20px 13px rgba(0, 0, 0, 0.01))
      drop-shadow(0px 8.14815px 6.51852px rgba(0, 0, 0, 0.00785185))
      drop-shadow(0px 1.85185px 3.14815px rgba(0, 0, 0, 0.00481481));
    border-radius: 24px;
  }
  &__item:nth-child(2) {
    background-image: url(/img/sell-bg1.jpg);
  }
  &__item:nth-child(3) {
    background-image: url(/img/sell-bg2.jpg);
  }
  &__item-inner {
    width: 315px;
    min-height: 130px;
    padding: 27px 20px 42px 20px;
    background-color: #fff;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(1, 1fr);
    border-radius: 24px;
  }
  &__col-title {
    margin: 0;
    padding: 0;
    font-family: $main-font-family;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 124.5%;
    display: inline-block;
  }
  &__col-descr {
    margin: 0;
    padding: 0;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 124.5%;
    text-align: right;
  }
  &__col-div {
    display: flex;
    padding-top: 19px;
  }
  &__col-img {
    padding: 0 14px 0 0;
  }
  &__col-second--descr {
    margin: 0;
    padding: 0;
  }
}
