@import "vars";
.trip {
  padding: 0 0 100px;
  &__inner {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  &__descr {
    margin: 0 0 15px;
    padding: 0;
    font-family: $main-font-family;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
  }
  &__title {
    margin: 0 0 31px;
    padding: 0;
    font-family: $title-font-family;
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 64px;
    text-transform: capitalize;
    color: $title-color;
  }
  &__list {
    margin: 0;
    padding: 0;
    max-width: 395px;
    min-height: 289px;
    // display: flex;
  }
  &__item {
    margin: 0;
    padding: 0;
    list-style: none;
    background-image: url(/img/book-trip.jpg);
    background-repeat: no-repeat;
    background-position: left top;
    background-size: auto;
  }
  &__item:nth-child(2) {
    background-image: url(/img/book-trip1.jpg);
  }
  &__item:nth-child(3) {
    background-image: url(/img/book-trip2.jpg);
  }
  &__item-col {
    padding: 0 0 48px 68px;
  }
  &__item-title {
    margin: 0;
    padding: 0 0 4px;
    font-family: $main-font-family;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 124.5%;
  }
  &__item-descr {
    margin: 0;
    padding: 0;
    font-family: $main-font-family;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 124.5%;
  }
  &__col-square {
    position: absolute;
    z-index: -1;
    opacity: 0.4;
  }
  &__col-circle {
    position: absolute;
    width: 354px;
    height: 367px;
    border-radius: 50%;
    margin: -60px 0 0 55px;
    background: #59b1e6;
    opacity: 0.8;
    filter: blur(75px);
    z-index: -1;
  }
  &__col-inner {
    width: 370px;
    min-height: 400px;
    padding: 20px 24px 31px 25px;
    background: #ffffff;
    box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.02),
      0px 64.8148px 46.8519px rgba(0, 0, 0, 0.0151852),
      0px 38.5185px 25.4815px rgba(0, 0, 0, 0.0121481),
      0px 20px 13px rgba(0, 0, 0, 0.01),
      0px 8.14815px 6.51852px rgba(0, 0, 0, 0.00785185),
      0px 1.85185px 3.14815px rgba(0, 0, 0, 0.00481481);
    border-radius: 26px;
    .trip__col-img {
      border-radius: 24px;
    }
  }
  &__inner-title {
    margin: 26px 0 13px;
    padding: 0;
    font-family: $main-font-family;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 124.5%;
    letter-spacing: 0.015em;
    color: #080809;
  }
  &__inner-descr {
    border-right: 1.5px solid #84829a;
    padding-right: 3px;
    font-family: $main-font-family;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 124.5%;
    letter-spacing: -0.005em;
    color: #84829a;
  }
  &__inner-second--descr {
    padding-left: 13px;
    font-family: $main-font-family;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 124.5%;
    letter-spacing: -0.005em;
    color: #84829a;
  }
  &__col-menu {
    margin: 21px 0 0;
    padding: 0;
  }
  &__col-item {
    list-style: none;
    display: inline-block;
    width: 36px;
    height: 36px;
    margin-bottom: 29px;
    background-color: #f5f5f5;
    border-radius: 50%;
    text-align: center;
    img {
      margin-top: 11px;
    }
  }
  &__col-item + &__col-item {
    margin-left: 15px;
  }
  &__col-second--img {
    margin-right: 15px;
  }
  &__col-heart {
    float: right;
  }
  &__min-col {
    position: absolute;
    padding: 16px 25px 22px 20px;
    width: 276px;
    min-height: 129px;
    display: grid;
    grid-template-columns: 25% 75%;
    grid-gap: 10px;
    background: #ffffff;
    box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.02),
      0px 64.8148px 46.8519px rgba(0, 0, 0, 0.0151852),
      0px 38.5185px 25.4815px rgba(0, 0, 0, 0.0121481),
      0px 20px 13px rgba(0, 0, 0, 0.01),
      0px 8.14815px 6.51852px rgba(0, 0, 0, 0.00785185),
      0px 1.85185px 3.14815px rgba(0, 0, 0, 0.00481481);
    border-radius: 18px;
    transform: translate(82%, -141%);
    .trip__min-img {
      width: 50px;
      height: 50px;
      border-radius: 50%;
      margin-right: 11px;
    }
  }

  &__min-descr {
    margin: 0 0 6px;
    font-family: $main-font-family;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 124.5%;
    letter-spacing: -0.035em;
    color: #84829a;
  }
  &__min-title {
    margin: 0 0 14px;
    font-family: $main-font-family;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 124.5%;
    letter-spacing: -0.015em;
    color: #080809;
  }
  &__min-second--descr {
    margin: 0 0 10px;
    font-family: $main-font-family;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 124.5%;
    letter-spacing: -0.055em;
    color: #8a79df;
    span {
      color: #080809;
    }
  }
}
