$title-font-family: "Volkhov", serif;
$main-font-family: "Poppins", sans-serif;
$category-font: "Open Sans", sans-serif;
$mail-font: "Montserrat", sans-serif;
$main-color: #5e6282;
$title-color: #181e4b;
