@import "container";
@import "header";
@import "category";
@import "sell";
@import "trip";
@import "logos";
@import "subscribe";
@import "footer";
*,
::after,
::before {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  font-family: $main-font-family;
  color: $main-color;
}
